.vscode/
build/
.cache/
.DS_Store
results/
.clangd
compile_commands.json
lichess_bot_auto_logs/
cutechess/
test-engines/
lichess/__pycache__/
lichess/lichess_bot_auto_logs/
lichess/engines/chess-uci
lichess/config.yml
.env
*.env
__pycache__/
*.py[cod]
*$py.class